@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
 
body {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0;
}
 
#tagline{
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: rgb(83,175,80);
}
 
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: rgb(255, 0, 0);
  padding: 0;
}
 
h1, ul, li {
  font-family: sans-serif;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
 
h1{
  text-align: center;
}
 
#style{
display: block;
width: 50vw;
text-align:center;
font-weight: bold;
font-size: 80px;
border-radius:15px;
height: 10%;
margin: auto auto;
}
 
#style:hover{
  transform: translate(5px, -5px);
}
 
#error{
  color: red;
}
 
#loader{
margin: auto auto;
}
 
.req{
  font-family: 'Roboto', sans-serif;
  color: green;
  font-weight: bold;
}
 
.description{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 14px;
}