@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './login.css';
@import "./options.css";
@import "./planner.css";
#tagline{
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color:white;  /*rgb(130, 212, 53);;*/
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

#style{
display: block;
width: 50vw;
text-align:center;
font-weight: bold;
font-size: 5rem;
border-radius:15px;
height: 25vh;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}

#style:hover{
  transform: translate(5px, -5px);
}

#error{
  color: red;
}

#loader{
margin: auto auto;
}

.req{
  font-family: 'Roboto', sans-serif;
  color: green;
  font-weight: bold;
}

.description{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 14px;
}
 
.styling:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1) !important;
   box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57) !important;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57) !important;
  transition: all 0.4s ease 0s !important;
}
 
    #home{
    background-image: url("./images/homepage.jpg");    
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    }

    .ui.menu{
    margin: 0 !important;
    }

    .dropzone{
      border: dashed 3px #eee;
      border-radius: 5px;
      padding-top: 30px;
      text-align: center; 
    }

    .dropzone--isActive{
      border: dashed 3px green
    }

    h1{
      text-align: center;
    }

    .left.menu{
      font-size: 24px;
      font-weight: bolder;
    }

    .ui.header{
      text-align: center;
    }

    .ui.form{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: white;
        width: 50%;
        min-width: 400px;
        min-height: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
        position: relative;
        box-sizing: border-box;
    }
  
    #email{
      width: 95.5%
    }

    #password{
      width: 95.5%
    }
