.planner{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1em 0;
    grid-template-areas: "sunday ."
                         "monday ."
                         "tuesday ."
                         "wednesday ."
                         "thursday ."    
}

.sunday{
 grid-area: "sunday";
 align-self: center;
}

.monday{
grid-area: "monday";
align-self: center;
}

.tuesday{
grid-area: "tuesday";
align-self: center;
}

.wednesday{
grid-area: "wednesday";
align-self: center;
}

.thursday{
grid-area: "thursday";
align-self: center;
}