.planner{
    padding: 4em 4em 4em 4em;
    display: grid;
    grid-gap: 1em 0;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "sunday ."
                         "monday ."
                         "tuesday ."
                         "wednesday ."
                         "thursday ."
}

.planner div:nth-child(odd){
    border: 2px solid green
}

.planner div:nth-child(even){
    border: 2px solid pink
}

.sunday{
 grid-area: "sunday"
}

.monday{
grid-area: "monday"
}

.tuesday{
grid-area: "tuesday"
}

.wednesday{
grid-area: "wednesday"
}

.thursday{
grid-area: "thursday"
}